body, html {
    padding: 0;
    margin: 0;
    width: 100%;
}
.instruction_text {
    background-color: #f0f0e7;
    min-height: 150px;
}
.edit_bar {
    width: 100%;
    position: relative;
    margin-top: 20px;
}
#editor {
    display: block;
    height: 500px;
    position: relative;
    padding: 0;
    border: 0;
    margin: 0 520px 0 10px;
}
#stage {
    display: inline-block;
    width: 500px;
    height: 500px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    border-width: 1px;
    border-color: #ccc;
    border-style: solid;
    margin: 0 10px 0 0;
}
