<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <link rel="stylesheet" href="./presenter.css">
        <script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="./presenter.js"></script>
        <script src="./test_lesson.js" charset="utf-8"></script>
    </head>
    <body>
        <div class="instruction_text">
            <div class="content"></div>
        </div>
        <div class="edit_bar">
            <div id="code_editor"></div>
            <iframe id="stage" src="about:blank"></iframe>
        </div>
    </body>
</html>
